<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/services">Rink Services</a></li>
	        		<li><a href="/blog">Tech Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rink.contact@gmail.com">email</a></li>
	        		<li><a href="https://github.com/rink-korea">github.com/rink-korea</a></li>
				</ul>
			</footer>
		</body>
	</html>
